<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.whatstheweather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="com.demo.whatstheweather.ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/weather_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/weather_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.demo.whatstheweather.ui.activities.SplashActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name="com.demo.whatstheweather.services.LocationService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <activity
            android:name="com.demo.whatstheweather.ui.activities.WeatherActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>